/* .parent-1{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
}
.content-1{
    width: 250px;
    height: 250px;
    background-color: blue;
    border: 1px solid; 

}
.content-2{
    width: 250px;
    height: 250px;
    background-color: brown;
    border: 1px solid;
}
.content-3{
    width: 250px;
    height: 250px;
    background-color: darkorchid;
    border: 1px solid;
}
.content-4{
    width: 250px;
    height: 250px;
    background-color: #392323;
    border: 1px solid;
} */



body{
    box-sizing: border-box;
}
.parent-2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

@media(max-width:1032px) {
    .parent-2{
        flex-wrap: wrap;
    }
}

.one{
    width: 250px;
    height: 250px;
    background-color: blue;
    border: 2px solid;
    transition: 1s;
    
}
.one:hover{
    cursor: pointer;
    box-shadow: inset;
    transform: rotate3d(90deg);
    color: darkorchid;
    background-image: url(./255109C9-4AE2-4418-8C17-B9EB490C6793.jpeg);
    background-position: center;
    background-size: cover;

}
.two{
    width: 250px;
    height: 250px;
    border: 2px solid;
     background-position: center;
    background-size: cover;
}
.three{
    width: 250px;
    height: 250px;
    border: 2px solid;

    
}
.four{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 500px;
    border: 2px solid color(black); 
}